<div class="organisation card hoverable" ng-class="{'editingOrganisation': organisation.editMode==true}">
    <div class="card-content" ng-if="!organisation.editMode">
        <div class="row">
            <div class="col m1 text-left">
                <h4>{{ organisation.idorg }}</h4>
            </div>

            <div class="col m4">
                <h4><b>{{ organisation.name }}</b></h4>
            </div>

            <div class="col m4">
                <ul>
                    <li><span class="title">{{ 'Organisations_IpRanges'|translate }}</span>:</li>
                    <li>
                        <span class="iprange"
                              ng-repeat="iprange in organisation.ipranges">
                            {{ iprange }} <br ng-if="!last" />
                        </span>
                    </li>
                </ul>
            </div>

            <div class="col m1 text-right">
                <ul>
                    <li>
                        <button class="table-action" ng-click="editOrganisation()" title="{{ 'General_Edit'|translate }}">
                            <span class="icon-edit"></span>
                        </button>
                        
                    </li>
                    <li>
                        <button class="table-action" ng-show="organisation.idorg" ng-click="openDeleteDialog()" title="{{ 'General_Delete'|translate }}">
                            <span class="icon-delete"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card-content" ng-if="organisation.editMode">
        <div piwik-field uicontrol="text"
              title="{{ 'Organisations_Name'|translate }}"
              full-width="true"
              placeholder="{{ 'Organisations_NamePlaceholder'|translate }}"
              ng-model="organisation.name">
        </div>

        <div class="form-group row">
            <div class="input-field col s12 m6">
                <div organisations-multiline-field
                     field="organisation.ipranges" cols="25" rows="3"
                     placeholder="{{ 'Organisations_IpRangesPlaceholder'|translate }}"></div>
                <label for="description">{{ 'Organisations_IpRanges'|translate }}</label>
            </div>
            <div class="col s12 m6">
                <div class="form-help">
                    <span class="inline-help">{{ 'Organisations_IpRangesHelp' | translate }}</span>
                </div>
            </div>
        </div>

        <div class="editingOrganisationFooter">
            <input type="submit" class="btn" value="{{ 'General_Save'|translate }}" ng-click="saveOrganisation()"/>
            <button class="btn btn-link" ng-click="cancelEditOrganisation($event)">{{ 'General_Cancel' | translate:'':'' }}</button>
        </div>
    </div>
</div>